body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  text-align: center;
  color: #111;
}

.item {
  background: #111;
  border-radius: 4px;
  padding: 30px;
  margin: 20px;
}

h2 {
  color: white;
}

p {
  color: #b2b2b2;
}

span {
  color: #febe01;
}

a {
  background: #febe01;
  color: #332200;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
